<div *ngFor="let cat of emptyCat">
    <button (click)="modifyCat(cat)" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Ajouter une catégorie
    </button>
    <div *ngIf="display && selectedCat == cat.id">
        <br>
        <new-cat (cancelEvent)="modifyCat(cat)"
            (submitEvent)='submit($event)'
            [modifiedCat]="catToModify">
        </new-cat>
    </div>
</div>
<br>
<div *ngFor="let cat of categories">
    <div class="row">
        <div class="well well-lg">
            <legend><b>{{cat.nom}}</b></legend>
            <a>
                <button type="button" class="btn btn-primary">
                    <span (click)="deleteCat(cat)"
                        class="glyphicon glyphicon-trash"></span>
                </button>
            </a>
            <a>
                <button type="button" class="btn btn-primary">
                    <span (click)="modifyCat(cat)"
                        class="glyphicon glyphicon-edit">
                    </span>
                </button>
            </a>
            <div *ngIf="display && selectedCat == cat.id">
                <br>
                <new-cat (cancelEvent)="modifyCat(cat)"
                (submitEvent)='submit($event)'
                    [modifiedCat]="catToModify">
                </new-cat>
            </div>
        </div>
    </div>
</div>
