<div *ngFor="let note of emptyNote">
    <button (click)="modifyNote(note)" class="btn btn-primary">
        Ajouter une note
    </button>
    <br>
    <div *ngIf="display && selectedNote == note.id">
        <br>
        <nouvelleNote (cancelEvent)="modifyNote(note)"
            (submitEvent)='submit($event)'
            [modifiedNote]="noteToModify">
        </nouvelleNote>
    </div>
</div>
<br>
<div *ngFor="let note of notes">
    <div class="note" id="{{note.id}}">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title"><h3><b>{{note.title}}</b></h3></h2>

              {{note.categorie.nom}} -
              {{note.date | date : 'dd-MM-yyyy'}}
            </div>
            <div class='panel-body'>
                {{note.content}}
                <br>
                <br>
                <button (click)="deleteNote(note)" type="button" class="btn btn-danger">
                    Supprimer la note
                </button>
                <button (click)="modifyNote(note)" type="button" class="btn btn-primary">
                    Modifier la note
                </button>
                <div *ngIf="display && selectedNote == note.id">
                    <br>
                    <nouvelleNote (cancelEvent)="modifyNote(note)"
                        (submitEvent)='submit($event)'
                        [modifiedNote]="noteToModify">
                    </nouvelleNote>
                </div>
            </div>

        </div>
    </div>
</div>
